h1 {
    color: #990033;
    font-size: 32px;
    font-family: sans-serif;
}
header h1 {
    font-size: 40px;
    line-height: 80px;
    background: transparent url(/images/logo.png) 0 0 no-repeat;
    padding-left: 84px;
}
p{
    font-size: 13px;
    font-family: sans-serif;
}